/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared styles */
.btn {
    width: 180px;
    height: 48px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}

.section-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.section-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}

.nav-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

/* banner - section */
.banner-container {
    max-width: 1440px;
    min-height: 652px;
    background-image: url("/assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 154px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-logo {
    margin-top: 26px;
    margin-bottom: 35px;
}

.hero-content {
    text-align: center;
    gap: 30px;
}

.hero-content h1 {
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.hero-content p {
    margin-bottom: 24px;
    margin-bottom: 35px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.hero-content button {
    border-radius: 8px;

    background: rgb(6, 10, 19);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;

}

main {
    width: 1140px;
    margin: 0 auto;
}

/* why-web-dev section */
.why-web-dev {
    width: 1140px;
    height: 1395px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 88px;
}

.why-container {
    width: 946px;
    height: 1235px;
    margin: 0 auto;
    margin-top: 80px;
}

.why-content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 50px;
    background: white;
}

.why-content-title h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.why-content-title p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

/* card */
.card-container {
    width: 946px;
    height: 1072px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card-items {
    width: 946px;
    height: 336px;
    padding: 48px 48px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 6px 10px 10px white;
}

.card-item-title {
    width: 477px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    margin-top: 35px;
}

.card-item-title h1 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;

}

.card-item-title p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.card-item-title .card-1 .btn {
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

/* inspiration-container style */
.inspiration-container {
    width: 1140px;
    height: 775px;
}

.inspiration-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.inspiration-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}

.youtube-vdo {
    display: flex;
    justify-content: center;
    padding: 32px;
    margin-top: 20px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

/* skills style */
.about-skills {
    width: 1140px;
    height: 460px;
    margin-top: 151px;
    margin-bottom: 111px;
}

.skills h1 {
    margin-bottom: 24px;
}

.skills p {
    margin-bottom: 48px;
}

.skills-container {
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
}
.skill-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 8px;
margin-top: 24px;
}
.skill-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-bottom: 24px;
}
.skill-more{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}
.skill {
    padding: 40px;
    margin-top: 48px;
    
}

#first {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

#second {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
#theard{
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}

